@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

$font-family: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;

$background-color-white: #ffffff;
$background-color-root: #dce2eb;
$background-color-post: #ffffff;
$background-color-container: #ebeef3;
$background-color-post-blue: #1890ff;

$color-shadow-article: rgba(34, 60, 80, 0.2);
$color-shadow-create-article: rgba(0, 0, 0, 0.1);

$color-border: #d9d9d9;
$color-border-blue: #1890ff;

$error-color: #ff4d4f;

$text-color-white: #ffffff;
$text-color-blue: #1890ff;
$text-color-50: #00000080;
$text-color-75: #000000bf;
$text-color-85: #000000d9;
$text-color-gray: #262626;

$btn-primary-color-gray: #595959;
$btn-primary-action-green: #45a614;

$border-color-edit: #d9d9d9;
